*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
	background-color: #4203a9,#90bafc;
}
body {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg,#4203a9,#90bafc);
	color: rgb(255, 179, 0);
	padding: 10px;
	text-align: center;
	justify-content: center;

}
.calculator{
	width: 100%;
	max-width: 600px;
	margin-left: 400px;
	margin-top: 100px;
	align-items: center;
	text-align: center;
	
}
.calculator h1{
	font-size: 60px;
	color: #1ef72c;
	align-items: center;
	
}
.input-box{
	margin-top: 40px 0;
	padding: 35px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
}
.input-box input{
	flex: 1;
	margin-top: 18px;
	padding: 20px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	font-size: 18px;
	position: relative;
}
.input-box button{
	background: #30f83e;
	margin-top: 18px;
	border: 0;
	outline: 0;
	padding: 22px 30px;
	border-radius: 5px;
	font-weight: 500;
	color: #333;
	cursor: pointer;
	margin-left: 50px;
}
.input-box input::-webkit-calender-picker-indicator{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	position: absolute;
	height: auto;
	background-position: calc(100% -10px);
	background-size: 30px;
	cursor: pointer;

}
body{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
@media (max-width: 768px) {
    .calculator {
        margin-left: 20px;
        margin-right: 20px;
    }
}